<h1>Sign In</h1>
<%=  form_for :session, url: sign_in_url do |f| %>
  <%= f.label 'Email:' %><br />
  <%= f.email_field :email %><br />

  <%= f.label 'password:' %><br />
  <%= f.text_field :password %><br />

  <%= f.submit 'Sign In' %>
<% end %>
