<h1>Create new user</h1>

<%= form_for @user do |f| %>
  <%= f.label "Email:" %><br />
  <%= f.email_field :email %><br />

  <%= f.label "Name:" %><br />
  <%= f.text_field :name %><br />

  <%= f.label "Password:" %><br />
  <%= f.password_field :password %><br />

  <%= f.submit "Create" %>
<% end %>
