<h1><%= @user.name %></h1>
<div class="user_events">
  <h3>Hosted Events:</h3>
  <h3>Upcoming: </h3>
  <ol>
    <%= render @upcoming_events %>
  </ol>

  <h3>Prevoius: </h3>
  <ol>
    <%= render @previous_events %>
  </ol>
</div>

<h3>Attended Events: </h3>
<h3>Upcoming: </h3>
<ol>
  <%= render @upcoming_attended_events %>
</ol>

<h3>Prevoius: </h3>
<ol>
  <%= render @previous_attended_events %>
</ol>
