<%= form_for @event do |f| %>
  <%= f.label "Location:" %><br />
  <%= f.text_field :location %><br />

  <%= f.label "Date:" %><br />
  <%= f.date_field :date %><br />

  <%= f.submit "Create event" %><br />
<% end %>
