<li>
  <%= link_to "#{event.location}", event_path(event) %>
  <%= " - #{event.date} - Host: " %>
  <%= link_to event.host.name, user_path(event.host) %>
  <% if current_user.id == event.host.id %>
    <%= link_to "Delete", event_path(event), method: :delete, data: { confirm: "Are you sure you wnat to delete this event?"} %>
  <% end %>
</li>
