<h1>Event: <%= @event.id %></h1>

<%= "#{@event.location} - #{@event.date} - Host: " %>
<%= link_to @event.host.name, user_path(@event.host) %>
<%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure you wnat to delete this event?"} %>
<br />
<hr />
<%= @event.description %>

<h2>Guests: </h2>
<ol>
  <%= render @users %>
</ol>
