<header>
  <%= link_to "Users", users_path %>
  <%= link_to "Events", events_path %>
  <% if signed_in? %>
    <%= link_to "New Event", new_event_path %>
    <%= link_to "Sign Out", sign_out_path, method: :delete %>
    <br />
    Signed In As: <%= link_to current_user.name, user_path(current_user) %>
  <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Sign In", sign_in_path %>
  <% end %>
</header>
